<div id="featured_wrapper_outside">
	<div id="content_wrapper">
		<div id="tour">
			<div id="manage_tasks">				
				<h2>Create Tasks</h2>
				<%= image_tag("/images/screenshots/tasks.png")%>

			</div>

		</div>
	
	</div>
</div>
