<div id="featured_wrapper_outside">
	<div id="content_wrapper">
		<div id="tour">
			<div id="manage_tasks">				
				<h2>Create Tasks</h2>
				<%= image_tag("/images/screenshots/tasks.png", :id => "screenshot_image" )%>
			</div>
			<div id="take_task">
				<h2>User Takes Task</h2>
				<%= image_tag("/images/screenshots/user_taking_task.png", :id => "screenshot_image" )%>
			</div>
			<div id="mark_finished">
				<h2>Mark Tasks Finished</h2>
				<%= image_tag("/images/screenshots/marking_tasks_finished.png", :id => "screenshot_image" )%>
			</div>

		</div>
	
	</div>
</div>
