#actions {
	position: absolute;
	margin-left: 350px;
	margin-top: -30px;
	width: -10px;

}

#header {
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        padding: 10px;
        width: 960px;
	height: 80px;
	position: relative;
}

#header_wrapper {
	background: #3399CC url(/images/header_bg.png) repeat-x scroll 0 0;
	border-top: 1px solid #3399CC;
}

.header_logo {
	background: transparent url(/images/fratapps_logo.png) repeat scroll 0 0;
	float: left;
	height: 60px;
	width: 185px;
}
#header h5, #header h4 {
    margin: 0;
}

#log_in {
    	position: absolute;
	margin-left: 380px;
	color: #FFFFFF;
	
}

#log_in input {
	background-color: #FFFFFF;
	width: 150px;
	color: black;
	font-weight: bold;
	padding: 3px;
	border: 3px solid #246A8D;
}

#field_email {
	position: relative;
	margin-right: 400px;
	width: 50px;


}


#field_password {

	position: absolute;
	width: 150px;
	margin-left: 170px;
	margin-top: -48px;
}


#menu {
    float: right;
    margin: 0;
    padding: 0;
}

#menu li a {
    color: white; 
    display: inline;
    margin: 0px 15px;
    padding: 0px;
    text-shadow: #B3DDFB 0 1px 0;
  	
}
	
#menu li a :hover{
    color: white;
    
    font-size: 15pt;
    text-decoration: underline;
}

