#tour {
	margin: 0px;
	padding: 0px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;

}

#first_login {


}

#manage_tasks{



}

#screenshot_image {
	color: black;
	border: 1px solid black;

	
}

/*
 {
	
	margin: 0px;
	padding: 0px;
	color: #FF9900;
}

*/

 h3{
	margin: 0px;
	padding: 0px;
	
}
