<!-- Main landing page for fratapps. Inherits site layout -->

<div id="featured_wrapper">
	<div id="content_wrapper">
		<div id="tagline">
			<ul id="list" class="numbers">
				<li class="one"><h2>Collect House Points</h2></li>
				<li class="two"><h2>Task Management</h2></li>
				<li class="three"><h2>Increase Involvement</h2></li>
			</ul>
		</div>
		<div id="screenshot">
			<h1></h1>
		</div>
		<div id="tryit">
		   <h1>Try it now for free!</h1>
		</div>
		<div id="signup">
				<%- signup_logo = image_tag("/images/buttons/signup.png", :alt => "Signup", :border => 0) %>					
				<%= link_to signup_logo, signup_path %>
		</div>

	</div>

</div>
		<div id="details">
			<div id="details_wrapper">
				<div id="phone">
					<center><h2><em>Questions or Need Help? Call or Text Us:</em></h2><h1>&nbsp;  425-298-FRAT</h1></center>
				</div>
				<div id="socialmedia">
					<div class="blog_left">
						<h3>Start Group</h3>
						<p>
						
						<p>
					</div>
					<div class="twitter_middle">
						<h3>Add Members</h3>
						<p>
						
						<p>						
					</div>
					<div class="facebook_right">
						<h3>Do Tasks</h3>
						<p>
						
						<p>
					</div>
				</div>
			</div>
	
		</div>	
