<div id="featured_wrapper_outside">
	<div id="content_wrapper">
		<div id="about">
			<h2>About Us</h2>
			<div id="aboutUs">
				<h3>We make it easier to manage your Fraternity</h3>
				<p>
					We're committed to serve your Fraternity's needs by developing a product that helps easily manage your "in-house" administration. Our product will also increase efficiency among your members so you can deal with more important matters within your house. 
				<p>
			</div>
			<div id="team">
				<h2>Meet the FratApps Team</h2>
				<div class="left">
					<h3>Rishi Talwar</h3>
					<p>
					Rishi brings ideas to reality by providing the vision for FratApps. With his versatile skills he is able to understand the technical and business side of operations. When not thinking of new features to add to FratApps, he enjoys playing basketball and rapping to his friend's beats. Rishi is studying Informatics with a concentration in Human-Computer Interaction at the University of Washington.
					<p>
				</div>
				<div class="right">
					<h3>Anirudh Srinivas</h3>
					<p>
					Anirudh is always neck deep in code!
					<p>
				</div>
			</div>
		</div>
	
	</div>
</div>
