<div id="featured_wrapper_outside">
	<div id="content_wrapper">
		<div id="contact">
			<h1>Contact Us</h1>
			<div id="contactUs_content">
				<p>If you have <bold>questions</bold>, concerns, or just want to tell us how your day is, please give us a ring at or write an email. </p>
			</div>
			<div id="contactinfo">
					<h3>Email Us:</h3> contact@fratapps.com
					<h3>Call Us: </h3> 425-298-FRAT
			</div>
		</div>
	
	</div>
</div>
